<h1>Contact form</h1>
{{message}}
<a href="/about">ссылка на about</a>
<form method="POST" action="send">
  <label>
    <input type="text" name="userName" placeholder="Enter name" />
  </label>
  <label>
    <input type="email" name="userEmail" placeholder="Enter email" />
  </label>
  <label>
    <input type="tel" name="userPhone" placeholder="Enter phone" />
  </label>
  <textarea name="userMessage" id="" cols="30" rows="10"></textarea>
  <button type="submit">send</button>
</form>